@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Playwrite+HU:wght@100..400&display=swap');

body{
    font-family: "Mukta", sans-serif !important;
    
}

.logo{
    border: 2px solid;
    padding: 0px 2px !important;
    border-radius: 4px;
}

.card_border{
    box-shadow: 1px 1px 4px -3px black !important;
    max-width: 550px;
}

.card_header{
    border-bottom: none !important;
   
}

.valid-feedback{
    display: block !important;
    height: 25px  !important;
    text-align: end;
    font-size: 14px !important;
    visibility: hidden;
    color: #f53b57;
    width: 100%;
}

.valid_feedbackunset{
    
    color: #f53b57;
    visibility: unset;
    text-align: end;
    height: 25px !important;
   
}


.form-group.success input {
    border-color: #05c46b;
    margin-top: 0px !important;
   
  }


  .form-group.error input {
    border-color: #f53b57;
  }


 .pass_check{ 
    position: absolute;
    right: 20px;
    top: 45px; }

  @media screen and (max-width: 767px) {
    .ptag{
        font-size: 13px;
    }
    .btn{
        font-size: 13px !important;
    }
  }